/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightgray;
}

@font-face {
  font-family: 'Roboto-slab';
  src: url('src/font/Poppins.ttf');
}